################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VisaoPorComputador/.vs/VisaoPorComputador/v17
/VisaoPorComputador/x64/Debug
/VisaoPorComputador/frames
/VisaoPorComputador/x64/exportVideoToPng
*.png
